<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= appName %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="styles/main.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="root" class="container-fluid"></div>
    <script src="bundle.js"></script>
    <!-- build:remove:prod -->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <!-- /build -->
  </body>
</html>
