{
  "rules": {
    "no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],
    "no-console": "warn"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
